.poll-question-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 727px;
    border-radius: 10px;
    border: 1px solid #AF8FF1;

    .poll-question-div{
        width: 100%;
        height: 20px;
        color: #ffffff;
        text-align: start;
        padding: 16px 0px;
        border-radius: 10px 10px 0px 0px;
        background: linear-gradient(90deg, #343434 0%, #6E6E6E 100%);
    }
    .poll-options-div{
        width: 90%;
        height: 40px;
        margin: 8px 20px;
        padding:26px, 21px, 26px, 21px;
        border: 1.5px solid #8F64E1;
        border-radius: 6px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}